#mainheading {
	text-align: center;
	font-weight: bold;
	
}

#tagsinput {
 	width: 300px;
 	display: inline;
 }

.button_form {
	display: inline-block;
	margin: 4px;
}

.subheadingindex {
	text-align: center;
	margin-bottom: 30px;
}
